<!--
@invinciblerm
August 2018
-->

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Achievements

        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Achievements</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-lg-3" ng-repeat="web in vm.websites track by $index" target="_blank">
                <div class="box">
                    <center><img src="../../../../images/websites/{{web.image}}.png" class="img-responsive" />
                </center>
                
                <h4 class="website-text">{{web.desc}}</h4>
                </div>
            </div>
            
        </div>
       
    </section><!-- /.content -->


