<!--
@invinciblerm
August 2018
-->
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Professional Experience
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Experience</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <!-- The time line -->
            <ul class="timeline">
                <li class="time-label">
                    <span class="bg-red-gradient">
                        Jan 2020 to May 2020
                    </span>
                </li>
                <li>
                    <i class="fa fa-suitcase bg-blue-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time text-bold"> Full Time</span>
                        <h3 class="timeline-header"><a href="http://www.ntu.edu.sg/" target="_blank">Internship at NTU</a></h3>
                        <div class="timeline-body">
                            <ul>
                                <li>Worked on developing a chatbot to select the most appropriate response for a user framed query from a given set of responses.</li>      
                                <li> Hosted the bot on a website developed using Flask as the backend.</li>
                                <li>Used state of the art NLP models and various question generator and data augmentation techniques to get a near perfect response.</li>
                            </ul>

                        </div>
                        <div class="timeline-footer">
                            <p>
                                <span class="label label-danger">Python</span>
                                <span class="label label-danger">ML</span>
                                <span class="label label-success">NLP</span>
                                <span class="pull-right">
                                    <a class="btn btn-primary btn-xs" ui-sref="app.recent">View Recent projects</a>
                                </span>
                            </p> 
                        </div>
                    </div>
                </li>
                <li class="time-label">
                    <span class="bg-red-gradient">
                        May 2019 to July 2019
                    </span>
                </li>
                <li>
                    <i class="fa fa-suitcase bg-blue-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time text-bold"> Full Time</span>
                        <h3 class="timeline-header"><a href="http://www.sagemath.com/" target="_blank">GSoC at Sagemath</a></h3>
                        <div class="timeline-body">
                            <ul>
                                <li>Worked on enhancing the graph module of SageMath, a python based open source Mathematics Software System.  </li>      
                                <li>Added new methods to the graph module of SageMath and enhanced the existing ones using Cython.</li>
                                <li>Implemented an iterator over the k-shortest source to destination paths using an improved version of Yen’s algorithm.</li>
                            </ul>

                        </div>
                        <div class="timeline-footer">
                            <p>
                                <span class="label label-danger">Python</span>
                                <span class="label label-danger">Cython</span>
                                <span class="label label-success">SageMath</span>
                                <span class="pull-right">
                                    <a class="btn btn-primary btn-xs" ui-sref="app.recent">View Recent projects</a>
                                </span>
                            </p> 
                        </div>
                    </div>
                </li>
                <li class="time-label">
                    <span class="bg-red-gradient">
                        May 2018 to July 2018
                    </span>
                </li>
                <li>
                    <i class="fa fa-suitcase bg-blue-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time text-bold"> Full Time</span>
                        <h3 class="timeline-header"><a href="http://www.socgensolutions.com/" target="_blank">Interned at Societe Generale</a></h3>
                        <div class="timeline-body">
                            <ul>
                                <li>Worked on Credit Risk Analysis, using the dataset available worked on data preprocessing, feature extraction and applied various Machine Learning based algorithms. </li>      
                                <li>Used tools like JavaScript and Flask to build the web Application to get insight into the data related to credit risk analysis.</li>
                            </ul>

                        </div>
                        <div class="timeline-footer">
                            <p>
                                <span class="label label-danger">HTML 5</span>
                                <span class="label label-success">CSS 3</span>
                                <span class="label label-warning">Java Script</span>
                                <span class="label label-primary">Type Script</span>
                                <span class="label label-danger">jQuery</span>
                                <span class="label label-info">Angular JS</span>
                                <span class="label label-success">NLTK</span>
                                <span class="pull-right">
                                    <a class="btn btn-primary btn-xs" ui-sref="app.recent">View Recent projects</a>
                                </span>
                            </p> 
                        </div>
                    </div>
                </li>
                <li class="time-label">
                    <span class="bg-green-gradient">
                        Nov 2017 - Jan 2018
                    </span>
                </li>
                <li>
                    <i class="fa fa-pencil-square-o bg-yellow-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time text-bold"> Part Time</span>
                        <h3 class="timeline-header"><a>Data Scientist Intern- Accelopt Networks</a></h3>
                        <div class="timeline-body">
                            <ul>
                                <li>Implemented various machine learning algorithms in Python and C++.</li>
                                <li>Optimized these algorithms to work in near real-time for prediction.</li>
                                <li>Handled data pre-processing and applied various machine learning models using Python and R to gain insight and
                                    predict the result metric.</li>
                            </ul>

                        </div>
                        <div class="timeline-footer">
                            <p>
                                <span class="label label-danger">Python</span>
                                <span class="label label-success">R</span>
                                <span class="label label-info">C++</span>
                                <span class="label label-warning">Keras</span>
                                <span class="label label-primary">Sklearn</span>
                                <span class="pull-right">
          
                                </span>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="time-label">
                    <span class="bg-yellow-gradient">
                        Nov 2017 to Feb 2018
                    </span>
                </li>
                <li>
                    <i class="fa fa-suitcase bg-blue-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time text-bold"> Part Time</span>
                        <h3 class="timeline-header"><a href="http://deeppulse.ai/" target="_blank">Interned at DeepPulse</a></h3>
                        <div class="timeline-body">
                            <ul>
                                <li>Developed a text classification tool to classify text. </li>
                                <li>Developed a Cartoonizer tool to convert the given person’s image into a cartoon image by using face swap and image processing techniques.</li>
                                <li>Worked on Ethnicity Detection to detect from a given image of a person whether the person belongs to a particular ethnicity.</li>
                            </ul>

                        </div>
                        <div class="timeline-footer">
                            <p>
                                <span class="label label-danger">NLP</span>
                                <span class="label label-success">NLTK</span>
                                <span class="label label-warning">OpenCV</span>
                                <span class="label label-primary">Spacy</span>
                                <span class="label label-danger">RNN</span>
                                <span class="label label-info">LSTM</span>
                                <span class="label label-success">CNN</span>
                                <span class="pull-right">
                                    <a class="btn btn-primary btn-xs" ui-sref="app.recent">View Recent projects</a>
                                </span>
                            </p> 
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                </li>
            </ul>
        </div><!-- /.col -->
    </div>
</section><!-- /.content -->
