<!--
@invinciblerm
August 2018
-->

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           Welcome To My Website
        </h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Home</li>
        </ol>
    </section>
    <!-- Main content -->
    <section id="home1" class="home1">
        <!-- Info boxes -->
        <div class="container">
        <div  class="row">
            <div class="col-md-12">
                <div>
                    <div class="box-header with-border">
                        <center><h3 class="box-title" style="font-family: 'Amatic SC', cursive; font-weight: 500; font-size: 60px;  color: #FD6A02; ">Hello !!</h3>
                        </center>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool bg-aqua-gradient" data-ng-click="vm.showDetails=!vm.showDetails"><i class="fa fa-chevron-circle-up" data-ng-if="vm.showDetails"></i><i class="fa fa-chevron-circle-down" data-ng-if="!vm.showDetails"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                   
                    <div class="box-body" data-ng-show="vm.showDetails">
                               <div class="row">
                                  
        
                                    <div class="col-md-10" >
                                        <p class="text-center" style="padding: 5px; font-size: 20px;">
                                            <strong>Know About Me</strong>
                                        </p>
                                        <p style="padding: 5px; font-size: 25px;">
                                        A Man of Few Words:
                                        </p>
                                        <p style="font-family: 'Amatic SC', cursive; font-weight: 500;">
        Ambitious | Passionate | Dreamer | Quick of Wit | Sociopath | Intense | Reader | Simple yet Erratic | Sapiosexual | Square peg in a Round hole | Open-minded  | Eccentric 
                                        </p>
                                        <p class="text-center" style="padding: 5px; font-size: 20px;">
                                                <strong>Favorite Quotations :</strong>
                                        </p>
                                        <p style="font-family: 'Amatic SC', cursive; font-weight: 500;">
                                                •	We're here to put a Dent in the Universe.
                                                <br>
                                                <br>
                                                •   Do not mind anything that anyone tells you about anyone else. Judge everyone and everything for yourself.
                                                <br>
                                                <br>
                                                •   Ever tried. Ever failed. No matter. Try Again. Fail again. Fail better.
                                                <br>
                                                <br>
                                                •   Coming together is a beginning; keeping together is progress; working together is success.
                                                <br>
                                                <br>
                                                •   Tell me and I forget. Teach me and I remember. Involve me and I learn.
                                        </p>
                                    </div><!-- /.col -->
                                        </div><!-- /.row --> 
                                  
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <p class="z-depth-3 white hoverable flow-text grey-text text-lighten-1" style="padding: 5px; font-size: 25px; ">
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                           
                                    My name is <strong class="black-text"> Rajat Mittal </strong> . I am an undergraduate student at Indian Institute of 
                                    Technology (BHU) Varanasi with Major in <strong class="black-text"><code>Mathematics and Computing</code></strong>. I have strong
                                    passion for Machine Learning and Software Development and a knack for learning.
                                   <br>
                                   <br>
                              
                                        </p>        
                                </div>
                            </div><!-- /.col -->
                            
                        </div><!-- /.row -->
                    </div><!-- ./box-body -->
                    
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->       
     </div><!-- /.container-->
    </section><!-- /.content -->
